body{
    font-family: Arial;
    text-align: center;
}
input{
    padding : 10px;
}

button{
    padding:10px;
    background-color: green;
    color: white;
}

h1{
    font-family: Arial;
    text-align: center;
    color: aqua;
}